*{
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

table, tr, th, td{
    width:500px;
    border:1px solid #000;
    
}

header{
    font-size:larger;
    padding: 5px;
    
}

.btn {
    display:block;
    margin:15px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3px;
    font-weight: bolder;
    color:black;
    background-color: grey;
    border:1px solid #e5e5e5;
    padding: 5px;
    cursor:pointer;
    box-shadow: 0 0 3px #a5a5a5;
    transition: background .6s;
    font-size: 20px;
    position: absolute;
  }

  a{
    background-color: grey;
    color: black;
    text-decoration: none;
  }
