*{
    background-color: black;
    position: relative;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

body,
html {
 color: white;
}

.toggle-wrapper .description {
    margin-left: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
  }

header{
    font-size: 5em;
    color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.toggle-wrapper {
  display: flex;
  align-items: center;
}


.switch > .hidden-toggle {
  display: none;
}

.switch > .slider {
  background: #e0e2db;
  border: 0.1rem solid #bbb;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 300ms ease-in-out;
  width: 8rem;
  height: 4rem;
  position: relative;
  box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(0, 0, 0, 0.1);
}

.switch > .slider > .button {
  content: "";
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  background: green;
  top: 0.4rem;
  left: 0.4rem;
  transition: all 300ms ease-in-out;
  border-radius: 50%;
  z-index: 2;
  box-shadow: inset -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.switch > .slider:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #444;
  font-weight: bold;
  z-index: 1;
  transition: all 300ms ease-in-out;
  content: "OFF";
}

.switch > .hidden-toggle:checked ~ .slider {
  background: green;
  box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
    0 0 1rem rgba(50, 0, 150, 0.2);
}

.switch > .hidden-toggle:checked ~ .slider > .button {
  left: 4.4rem;
  box-shadow: inset 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  background: #e0e2db;
}

.switch > .hidden-toggle:checked ~ .slider:after {
  right: 4.4rem;
  color: #f1f1ff;
  content: "ON";
}

.btn {
    display:block;
    margin:15px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3px;
    font-weight: bolder;
    color:black;
    background-color: grey;
    border:1px solid #e5e5e5;
    padding: 5px;
    cursor:pointer;
    box-shadow: 0 0 3px #a5a5a5;
    transition: background .6s;
    font-size: 20px;
    position: absolute;
  }

  a{
    background-color: grey;
    color: black;
    text-decoration: none;
  }

 
  